@import url(http://fonts.googleapis.com/css?family=Economica|Fira+Mono|Oxygen+Mono|Open+Sans|Open+Sans+Condensed:300);
body {
  font-family: 'Open Sans';
  background-color: #333839; }

header {
  background: #333839;
  color: #fff;
  -webkit-font-smoothing: antialiased; }

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#icon-user {
  color: white;
  font-size: 2em;
  -webkit-font-smoothing: antialiased; }

#name1 {
  font-family: 'Economica';
  color: #b2854c; }

#name2 {
  font-family: 'Open Sans'; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
